label {
	font-family: Arial,sans-serif;
	font-size: 12.5px;
}

input {
	font-family: Arial,sans-serif;
	font-size: 12.5px;
}

input[type="text"] {
	/* Based on this SO anser:
	https://stackoverflow.com/a/2125516 */
	width: 320px;
}

a {
	font-family: Arial,sans-serif;
	font-size: 12.5px;
}